<launch>


    <!-- Set Gazebo Parameters-->
    <arg name="velodyne_points" value="true" />

    <!-- Launch Gem Gazebo-->
    <include file="$(find gem_gazebo)/launch/gem_gazebo_rviz.launch">
        <arg name="velodyne_points" value="$(arg velodyne_points)" />
    </include>

    <!-- Run world to base_footprint transform-->
    <node name="tf_publisher_world_to_base_footprint" pkg="path_tracking" type="tf_publisher.py"/>

    <!-- Set the controller type as a parameter -->
    <param name="controller_type" value="PURE_PURSUIT" />

    <!-- Set other parameters -->
    <param name="lookahead_distance" value="6.0" />
    <param name="vehicle_speed" value="2.8" />
    <param name="wheelbase" value="1.75" />

    <!-- Launch the Path Tracking Node -->
    <node name="path_tracking_node" pkg="path_tracking" type="path_tracking_node" output="screen">
        <!-- <remap from="/gps_path" to="/path" /> -->
    </node>

    <!-- Timed roslaunch for input path-->
    <node pkg="timed_roslaunch" name="timed_roslaunch" type="timed_roslaunch.sh" output="screen"
        args="10 path_tracking path_publisher.launch" />

</launch>